@model UserProject1.Models.UserDetails

@{
    ViewBag.Title = "Register";
}

<style>
    /* Form styling */
    .form-horizontal {
        max-width: 400px; /* Set maximum width */
        margin: auto; /* Center the form horizontally */
    }

        .form-horizontal h2 {
            text-align: center; /* Center heading */
            color: #007bff; /* Vibrant blue text color */
        }

        .form-horizontal .form-group {
            margin-bottom: 20px; /* Add margin between form groups */
        }

        .form-horizontal label {
            font-weight: bold; /* Bold label text */
            color: #6c757d; /* Dark gray label text color */
        }

        .form-horizontal input[type="text"],
        .form-horizontal input[type="password"],
        .form-horizontal input[type="file"] {
            width: 100%; /* Full width input fields */
            padding: 10px; /* Add padding */
            border: 1px solid #ced4da; /* Add border */
            border-radius: 5px; /* Add border radius */
        }

        .form-horizontal input[type="submit"] {
            width: 100%; /* Full width submit button */
            padding: 10px; /* Add padding */
            border: none; /* Remove border */
            border-radius: 5px; /* Add border radius */
            background-color: #007bff; /* Vibrant blue background */
            color: #fff; /* White text color */
            cursor: pointer; /* Add pointer cursor */
        }

            .form-horizontal input[type="submit"]:hover {
                background-color: #0056b3; /* Darker blue background on hover */
            }

        .form-horizontal .text-danger {
            color: #dc3545; /* Red text color for validation messages */
        }

        .form-horizontal img.profile-photo {
            max-width: 60px; /* Set maximum width */
            max-height: 60px; /* Set maximum height */
            display: block; /* Ensure image is displayed as a block element */
            margin: 10px auto; /* Center the image horizontally with some space around it */
            border-radius: 5px; /* Add border radius */
            border: 2px solid #007bff; /* Add border */
        }
</style>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {enctype="multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <h4>Register</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   

    <div class="form-group">
        @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Confirm_Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Confirm_Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Confirm_Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Profile_Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="profileImageFile" id="profileImageFile" />

            @Html.ValidationMessageFor(model => model.Profile_Image, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsAdmin)
                @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
